.moviePageContainer {
    display: flex;
    position: relative;
}

.sidebarContainer {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 15%;
    position: fixed;
    min-height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 15%;
    padding: 2rem 1rem;

}

.logoText {
    color: black;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.pageBodyContainer {
    width: 75%;
    margin-left: 25%;
}

.sidebarNavlinks li {
    list-style: none;
    padding-bottom: 3rem;
}

.linkContainer {
    width: 90%;
    margin: 0 auto;
}

.quizContainer {
    border: 1px solid pink;
    width: 90%;
    padding: 2rem 0;
    margin: 1rem auto 0 auto;
    border-radius: 20px;
}

.quizDescription {
    width: 85%;
    margin: 0 auto;
}

.playBtn {
    background-color: hsla(345, 83%, 41%, 0.2);
    color: #BE123C;
    font-family: 'DM Sans', sans-serif;
    margin-top: 2rem;
    outline: none;
    padding: 1rem 0;
    width: 70%;
    min-width: 112px;
    border-radius: 30px;
    border: none;
}

.logoutContainer {
    margin-top: 2rem;
}

.logoutContainer li {
    width: 90%;
    margin: 0 auto;
}

.movieThumbnail {
    width: 85%;
    margin: 2rem 0;
}

.movieThumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.moviepageBody {
    max-width: 1100px;
}

.aboutMovie {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}