.moviePageContainer {
    display: flex;
    position: relative;
}

.sidebarContainer {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 15%;
    position: fixed;
    min-height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 15%;
    padding: 2rem 1rem;

}

.logoText {
    color: black;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.sidebarNavlinks li {
    list-style: none;
    padding-bottom: 3rem;
}

.linkContainer {
    width: 90%;
    margin: 0 auto;
}

.quizContainer {
    border: 1px solid pink;
    width: 90%;
    padding: 2rem 0;
    margin: 1rem auto 0 auto;
    border-radius: 20px;
}

.quizDescription {
    width: 85%;
    margin: 0 auto;
}

.playBtn {
    background-color: hsla(345, 83%, 41%, 0.2);
    color: #BE123C;
    font-family: 'DM Sans', sans-serif;
    margin-top: 2rem;
    outline: none;
    padding: 1rem 0;
    width: 70%;
    min-width: 112px;
    border-radius: 30px;
    border: none;
}

.logoutContainer {
    margin-top: 2rem;
}

.logoutContainer li {
    width: 90%;
    margin: 0 auto;
}

.pageBodyContainer {
    width: 75%;
    margin-left: 25%;
}

.movieThumbnail {
    width: 85%;
    margin: 2rem 0;
}

.movieThumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.moviepageBody {
    width: 85%;
    max-width: 1100px;
}

.aboutMovie {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.movieDescription {
    font-size: 1.1rem;
}

@media screen and (max-width: 1350px) {
    .moviePageContainer {
        display: block;
    }

    .sidebarContainer {
        position: absolute;
        width: 100%;
        border-radius: 0;
    }

    .sidebarNavlinks {
        display: none;
        background-color: white;
        z-index: -10;
    }

    .logoContainer {
        width: 93%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 1rem 0;
    }

    .logoText {
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .sidebarNavlinks {
        text-align: center;
    }

    .sidebarNavlinks li {
        padding-bottom: 2rem;
    }

    .linkContainer {
       max-width: 300px;
    }

    .quizContainer {
        max-width: 320px;
        padding: 1rem 0;
    }

    .playBtn {
        font-size: 0.9rem;
        padding: 0.9rem 0;
    }

    .pageBodyContainer {
        width: 93%;
        margin-left: 0;
        padding: 5rem 0;
        margin: 0 auto;
    }

    .movieThumbnail {
        width: 100%;
    }

    .movieThumbnail img {
        border-radius: 10px;
    }

    .aboutMovie {
        margin-bottom: 2rem;
        display: block;
    }

    .movieTitle {
        color: #343b4c;
        font-size: 1.5rem;
    }

    .movieReleaseDate {
        font-weight: normal;
        font-size: 1rem;
        padding: 0.5rem 0;
        color: #6B7280;
    }

    .movieRuntime {
        font-size: 1rem;
        color: #343b4c;
    }

    .movieDescription {
        line-height: 1.8;
    }



    /*



    
    
    */
}

@media screen and (min-width: 768px) and (max-width: 1350px) {


    .logoText {
        font-size: 1.3rem;
        margin-left: 0.5rem;
    }


    .movieThumbnail {
        max-width: 1000px;
        margin: 2rem auto 0;
    }

    .moviepageBody {
        max-width: 1000px;
        margin: 2rem auto;
    }

    .movieDescription {
        font-size: 1.1rem;
    }
  
}