:root {
  font-family: 'DM Sans', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

.header {
  position: relative;
}

.nav-bar {
  width: 80%;
  padding: 1.5rem 0;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container {
  color: white;
  display: flex;
  align-items: center;
  width: 25%;
}

.logo-container h3 {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.search-input-container {
  width: 50%;
  position: relative;
}

.search-input-container input {
  background-color: transparent;
  color: #D1D5DB;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  outline: none;
}

.search-input-container input::placeholder {
  color: #D1D5DB;
}

.search-input-container img {
  width: 1.1rem;
  position: absolute;
  right: 1rem;
  top: 30%;
}

.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 25%;
}

.btn-container button {
  background-color: transparent;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  padding: 1rem 0;
  padding-right: 2rem;
  border: none;
}

/* Hero Section */
.hero-section {
  margin-bottom: 5rem;
  position: relative;
}

.image-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; 
}

.slide img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65); /* Overlay with transparency */
  z-index: 2;
}

.hero-body {
  display: flex;
  width: 100%;
  padding: 5rem 0 12rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  
}

.hero-content {
  color: white;
  width: 400px;
  z-index: 4;
  left: 5rem;
  top: 10rem;
  position: relative;
  transition: all 3s ease-in-out;
  
}

.hero-content h2 {
  display: block;
  width: 100%;
  font-size: 3rem;
}

.hero-content__rating {
  display: flex;
  padding: 1.5rem 0;
}

.people-ratings,
.tomato-rating {
  display: flex;
}

.tomato-rating {
  margin-left: 2rem;
}

.people-ratings p, 
.tomato-rating p {
  margin-left: 0.5rem;
}

.hero-content__description {
  width: 100%;
  word-spacing: 0.03rem;
  line-height: 1.8;
  padding-bottom: 2rem;
  
  /* z-index: 100; */
}

.hero-content__description p {
  font-size: 1.05rem;
  text-shadow: 0 2px 6px rgba(37, 37, 37, 0.9);
}

.trailer-btn {
  background-color: #BE123C;
  color: white;
  font-family: 'DM Sans', sans-serif;
  width: 50%;
  max-width: 175px;
  padding: 1rem 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

.trailer-btn-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trailer-btn-content span {
  font-size: 0.9rem;
  font-weight: 700;
}

/* MainContent */

.main-content-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 12rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-header {
  font-size: 2.3rem;
}

.about p {
  color: #BE123C;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

.about p span {
  padding-left: 0.5rem;
}

.movie-card-container, 
.series-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 8rem;
}


.movie-card,
.series-card {
  margin-top: 7rem;
  max-width: 250px;
}

.movie-card-image,
.series-card-image {
  position: relative;
}

.movie-card-image img,
.series-card-image img {
  cursor: pointer;
  width: 250px;
}

.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  cursor: pointer;
}

.favorite-btn img {
  max-width: 30px;
}

.card-body {
  height: 145px;
  position: relative;
}

.movie-release-date,
.series-release-date {
  padding: 0.5rem 0;
}

.movie-release-date p,
.series-release-date p,
.movie-genre p,
.series-genre p {
  color: #9CA3AF;
  font-size: 0.8rem;
}

.movie-title,
.series-title {
  color: #111827;
  font-size: 1.2rem;
  cursor: pointer;
}

.movie-rating,
.series-rating {
  display: flex;
  padding: 0.8rem 0;
  position: absolute;
  bottom: 1rem;
}

.movie-rating .people-ratings p, 
.series-rating .people-ratings p,
.movie-rating .tomato-rating p,
.series-rating .tomato-rating p {
  color: #111827;
} 

.movie-genre,
.series-genre {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.movie-genre p,
.series-genre p {
  display: inline-block;
  margin-right: 0.5rem;
}

/* Footer section */

.footer {
  padding-bottom: 5rem;
  text-align: center;
}


.footer .social-media,
.footer .terms-and-conditions {
  display: flex;
  align-items: center;
  width: 33%;
  margin: 0 auto;
}

.footer .social-media {
  max-width: 21rem;
  justify-content: space-evenly;
}

.footer .terms-and-conditions {
  max-width: 32rem;
  justify-content: space-around;
}

.footer .terms-and-conditions p {
  color: #111827;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 2rem 0;
}

.footer .copyright p {
  font-weight: 700;
  color: #6B7280;
}

@media screen and (max-width: 335px) {

  .about-header {
    font-size: 1.2rem;
    max-width: 170px;
  }

  .about p {
    font-size: 0.8rem;
  }

  .movie-card-container,
  .series-card-container {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 336px) and (max-width: 1120px)  {
  .nav-bar {
    width: 95%;
  }

  .logo-container {
    width: auto;
  }

  .logo-container img {
    width: 30px;
  }

  .logo-container h3 {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .search-input-container {
    width: 50%;
    position: relative;
  }

  .search-input-container input {
    padding: 0.8rem 0.5rem;
    font-size: 0.85rem;
  }

  .search-input-container input::placeholder {
    font-size: 0.85rem;
  }

  .nav-links {
    display: none;
  }

  
  /* Hero Section */
  .hero-section {
    background-size: cover;
    background-position-x: -300px;
  }

  .slide {
    display: flex;
    justify-content: center;
  }

  .slide img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero-body {
    width: 90%;
    padding: 0.5rem 0 2rem 0;
  }

  .hero-content {
    width: 90%;
    border: 1px solid red;
  }

  .hero-content h2 {
    font-size: 1.8rem;
  }
  
  .hero-content__rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 200px;
    padding: 1.5rem 0;
  }
  
  .people-ratings,
  .tomato-rating {
    display: flex;
  }
  
  .tomato-rating {
    margin-left: 0;
  }
  
  .people-ratings p, 
  .tomato-rating p {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  
  .hero-content__description {
    width: 100%;
    line-height: 1.5;
    padding-bottom: 2rem;
  }
  
  .hero-content__description p {
    font-size: 0.9rem;
  }

  .trailer-btn {
    width: 100%;
  }

  /* MainSection  */

  .main-content-section {
    width: 100%;
    margin-bottom: 8rem;
  }

  .movie-card-container,
  .series-card-container {
    grid-template-columns: repeat(2, 1fr);  /* made changes */
    padding: 0 0.2rem;
  }
    
  .movie-card,
  .series-card {
    margin-top: 5rem;
    width: 93%;   /* made changes */
    max-width: 250px;
  }

  .movie-card-image,
  .series-card-image {
    position: relative;
  }

  .movie-card-image img,
  .series-card-image img {  
    cursor: pointer;
    width: 100%;  /* made changes */
    max-width: 250px;
  }

  .favorite-btn {   
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 50;
    cursor: pointer;
  }

  .favorite-btn img {
    max-width: 30px;
  }

  .card-body {
    height: 175px;
  }

  .about {
    width: 90%;
    margin: 0 auto;
  }

  .about-header {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 0.9rem;
  }

  .about p span {
    padding-left: 0.3rem;
  }

  .movie-title,
  .series-title {
    font-size: 1.1rem;
  }

  .movie-rating,
  .series-rating {
    bottom: 1.9rem;
  }

  .movie-rating .tomato-rating,
  .series-rating .tomato-rating {
    margin-left: 1.5rem;    /* made changes */
  }

  .movie-rating .people-ratings p,
  .series-rating .people-ratings p, 
  .movie-rating .tomato-rating p,
  .series-rating .tomato-rating p {
    font-size: 0.7rem;   /* made changes */
  }

  /* Footer Section */
  .footer {
    margin-bottom: 15rem;
  }

  .footer .social-media,
  .footer .terms-and-conditions {
    width: 100%;
  }
  
  .footer .terms-and-conditions p {
    font-size: 0.9rem;
  }
  
  .footer .copyright p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 520px) and (max-width: 1120px) {

  .hero-section {
    background-size: cover;
    background-position-x: -180px;
  }

  .hero-body {
    padding: 2rem 0 4rem 0;
  }

  /* MainSection  */

  .movie-card-container,
  .series-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    width: 80%;
  }

  .about-header {
    font-size: 1.8rem;
  }

  .about p {
    font-size: 1rem;
  }

  /* Footer Section */
  .footer {
    margin-bottom: 5rem;
  }


  @media screen and (min-width: 768px) and (max-width: 1120px) {
    .nav-bar {
      width: 90%;
    }

    .logo-container {
      width: 25%;
    }

    .logo-container img {
      width: 40px;
    }

    .logo-container h3 {
      font-size: 1.3rem;
      margin-left: 0.5rem;
    }

    .search-input-container input {
      padding: 0.8rem 1rem;
      font-size: 1rem;
    }

    .search-input-container input::placeholder {
      font-size: 1rem;
    }

    .nav-links {
      display: flex;
    }



    /* Hero Section */
    .hero-body {
      width: 90%;
      padding: 3rem 0 8rem 0;
    }

    .hero-content {
      width: 50%;
    }

    .hero-content h2 {
      font-size: 2.5rem;
    }

    .people-ratings p, 
    .tomato-rating p {
      font-size: 0.9rem;
    }

    .movie-card-container,
    .series-card-container {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
    }

    .about {
      width: 95%;
    }
    
    .footer .terms-and-conditions p {
      font-size: 1.1rem;
    }
    
    .footer .copyright p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1121px) and (max-width: 1590px) {
  /* Hero section */
  .nav-bar {
    width: 85%;
  }
  .hero-body {
    width: 85%;
  }

  /* MainContent Section */

  .main-content-section {
    width: 95%;
    margin-bottom: 8rem;
  }

  .movie-card-container,
  .series-card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .about {
    width: 90%;
    margin: 0 auto;
  }
}
